# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Fonts (werden automatisch heruntergeladen)
# (bewusst nicht ignoriert – damit Freunde die Fonts nicht neu laden müssen)
